@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
  --cor-principal: #ec1a1a;
  --fonte-principal: 'Raleway', sans-serif;
  --titulo-pagina: #c5ec1a;
  --fonte-SR: 'times new roman', verdana;
}
body {
font-family: var(--fonte-principal);
}


main {
  margin: auto;
  width: 80%;
}


.menu-navegacao {
    width: 80%;
    margin: auto;
}



.menu-navegacao ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.menu-navegacao li {
    padding: 20px;
}

.menu-navegacao a {
    text-decoration: none;
}

.titulo-pagina {
    font-family: var(--fonte-SR);
    margin: 40px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 48pt;
    font-weight: 600;
    color: var(--titulo-pagina);
    
}

.subtitulo-pagina {
  font-family: var(--fonte-principal);
  margin: 10px auto 10px;
  padding-left: 10px;
  width: 80%;
  font-size: 20pt;
  text-align: center;
  color: var(--cor-principal);
}

.paragrafo-artigo {
  font-family: var(--fonte-principal);
  font-size: 12pt;
  margin: 10px 10px 10px 10px;
  line-height: 1.4;
  color: var(--cor-principal);
}

.banner{
    width: 10%;
    height: 200%;
    object-fit: cover;
    object-position: 5px 200%;
    
    

}

